@model List<Category>

<div class="horizontal-center">
    <h1>Categories 📃</h1>
</div>
<div class="grid-items">
    @{
        foreach (var category in Model)
        {
            <div class="card col-sm-4">
                <img class="card-img-top"
                     src="@category.ImagePath"
                     alt="@category.Name"
                     asp-append-version="true" />

                <div class="card-body">
                    <h5 class="card-title">@category.Name</h5>

                    <a class="btn btn-primary" href="/Product/GetAll?CategoryName=@category.Name">Open</a>
                </div>
            </div>
        }
    }
</div>